@model DDS.Models.Metodología

@{
    ViewBag.Title = "Visualizar metodologías";
}

<form method="POST" action="Visualizar">
    <table style="margin: 0 auto">
        <tr>
            <td style="text-align:right">Metodología</td>
            <td style="padding-left:10px">
                <select name="nombreMetodología" style="min-width:200px">
                    @foreach (string n in ViewBag.NombresMetodologías) {
                        if (@n == ViewBag.NombreMetodología) {
                            <option selected>@n</option>
                        } else {
                            <option>@n</option>
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Empresa</td>
            <td style="padding-left:10px">
                    @if (ViewBag.EsComparativo != null && ViewBag.EsComparativo) {
                        <p style="margin: 0 auto">Todas</p>
                    } else {
                        <select name="nombreEmpresa" style="min-width:200px">
                        @foreach (string n in ViewBag.NombresEmpresas) {
                            if (@n == ViewBag.NombreEmpresa && ViewBag.EsComparativo != null && !ViewBag.EsComparativo) {
                                <option selected>@n</option>
                            } else {
                                <option>@n</option>
                            }
                        }
                        </select>
                    }
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Período</td>
            <td style="padding-left:10px">
                @if (ViewBag.EsHistórico != null && ViewBag.EsHistórico) {
                    <p style="margin: 0 auto">Todos</p>
                } else {
                    <select name="período" style="min-width:200px">
                        @foreach (int p in ViewBag.Períodos) {
                            if (@p == ViewBag.Período) {
                                <option selected>@p</option>
                            } else {
                                <option>@p</option>
                            }
                        }
                    </select>
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Buscar" />
            </td>
        </tr>
    </table>
</form>

@if (ViewBag.Filas != null) {
    <br />
    <table class="table">
        <tr>
            <th style="text-align:center">Metodología</th>
            <th style="text-align:center">Empresa</th>
            <th style="text-align:center">Período</th>
            <th style="text-align:center">Valor</th>
        </tr>
        @foreach (Tuple<string, int, string> fila in ViewBag.Filas) {
            <tr>
                <td>@ViewBag.NombreMetodología</td>
                <td>@fila.Item1</td>
                <td>@fila.Item2</td>
                <td>@fila.Item3</td>
            </tr>
        }
    </table>
}